.container {
	width: 760px;
	box-sizing: border-box;
	border: 2px solid var(--light2);
	border-top: none;
	border-bottom: none;
	padding: 24px;
	margin: 0 calc((100vw - 760px)/2);
	height: 100vh;
	background-color: white;
}

.container div.top {
	height: 7.5vh;
	width: 100%;
	display: block;
}